<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Django Girls is an international non-profit organization started by two Polish women, Ola Sitarska and Ola Sendecka, to inspire women from all backgrounds to get interested in technology and to become programmers,offering a safe and friendly environment. It is known for the free workshops it hosts to help women to learn to program and for its Django tutorial. It is often supported by the Python Software Foundation.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Django Girls is an international non-profit organization started by two Polish women, Ola Sitarska and Ola Sendecka, to inspire women from all backgrounds to get interested in technology and to become programmers,offering a safe and friendly environment. It is known for the free workshops it hosts to help women to learn to program and for its Django tutorial. It is often supported by the Python Software Foundation.</p>
        </div>
    </body>
</html>